SUPABASE_URL=https://uotqvegbgokoflbgejwc.supabase.co
SUPABASE_SECRET_KEY=sb_secret_5hF1kwqXs-p5ryoatApt2A_4Pv7rOsy
ANTHROPIC_API_KEY=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
ADMIN_TOKEN=wedding2028admin
PORT=3000